@import 'tailwindcss/base'
@import 'tailwindcss/components'
@import 'tailwindcss/utilities'

@layer base
  :root
    --color-primary: 79 70 229
    --color-secondary: 2 132 199
    --color-background: 199 210 254

  .dark
    --color-primary: 55 48 163
    --color-secondary: 7 89 133
    --color-background: 30 27 75
